:root{
    --background: #ffffff;
    --textMain: #000000;
}
/*Universal stuff*/
*{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: var(--background);
    font-size: 1.1em;
    line-height: 1.5;
}
img {
    display: block;
    height: auto;
}
ul, ol{
  list-style: none;
}
h1, h2, h3, h4, h5, p, a {
  padding: 1em 1em;
  text-decoration: none;
}

/*Main home screen*/
#main {
  height: 100vh;
  color: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
}
#background {
  position: absolute;
  background: #333 url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0.4;
}
#backgroundcolor{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #333;
  z-index: -2;
}
#main a{
  border: #fff solid 2px;
  padding: 1em;
  color: #fff;
  margin-top: 100px;
}
#main a:hover{
  color: #000;
  background-color: #fff;
}


.card img {
  width: 85vw;
  height: auto;
  margin: 0 auto;
}

/*Footer*/
footer {
  padding: 2em;
  background-color: #000;
  color: #fff;
}



/* Media Queries */
@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }
  
  footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: span 2;
    align-items: center;
  }
  
  .box{
    grid-column: span 2;
  }

  .card img {
    width: 20vw;
    margin: 0 auto;
  }

  #cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-content: space-around;
  }
}